<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Sevillana&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="welcomepage">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="flash {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <p id="about">About Us</p>
    <h1>WELCOME TO</h1>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}" /><br />

    <form id="welcome" method="POST" action="{{ url_for('login_view') }}">
      {{ form.hidden_tag() }} {{ form.email.label }}

      <br />

      {{ form.email(size=32, placeholder='Enter Email') }}

      <br />

      {% for error in form.email.errors %}
      <span style="color: red">{{ error }}</span><br />
      {% endfor %} {{ form.password.label }}

      <br />

      {{ form.password(size=32, placeholder='Enter Password') }}

      <br />

      {% for error in form.password.errors %}
      <span style="color: red">{{ error }}</span><br />
      {% endfor %} {{form.submit()}}
    </form>
    <a id="signup" href="{{ url_for('signup') }}">Signup</a>
  </body>
</html>
